*{
    font-family: 'Times New Roman', Times, serif;
}
.Header{
    height: 80px;
    background-color: rgb(80, 191, 255);
}
.footer{
    background-color: rgb(80, 191, 255);
    height: 100px;
}
.btn-submit{
    border-radius: 15px;
    width: 150px;
    height: 35px;
}